h1{
color :aqua;
}

#coloraqua
{
color :aqua;
}


body
        {
            background-image: url("/static/wiki/img/Madara.gif");
            background-size: cover;
            background-repeat: no-repeat;
        }
        a{
            color: #fff;
        }
        a:hover
        {
            text-decoration: none;
        }
        .container
        {
            width: 450px;
            height: 450px;
            background-color: #182134b6;
            margin: 250px auto 0 auto;
            text-align: center;
            box-shadow: 0 -5px 0 blueviolet;
            border-radius: 0 0 10px 10px;
        }
        .container img
        {
            width: 120px;
            height: 120px;
            margin: -60px 0 30px 0;
            border: 5px solid #1a394f ;
            border-radius: 50%;
            box-shadow: 0 -5px 0 blueviolet;
        }
        .dws-submit
        {
            padding: 13px 30px;
            margin: 5px 0 20px 0;
            font-size: 15px;
            color: #fff;
            background-color: blueviolet;
            border: none ;
            border-bottom:4px solid  aqua ;
            cursor: pointer;
        }
        .dws-submit:hover
        {
            transition: all 0.5s;
            background: aqua;
            color: red;
        }

        input[type="text"],input[type="password"],input[type="email"]
        {
            width: 300px;
            height: 50px;
            font-size: 18px;
            margin-bottom: 25px;
            border-radius: 5px;
            padding-left: 10px;
        }