<!--{% extends 'wiki/Login_base.html' %}-->
<!--{%block title%} Registration {%endblock%}-->



<!--{% block content %}-->


<!--        <form>-->
<!--            <div class="dws-input">-->
<!--                <input type="text" name="username" placeholder="Введите Login">-->
<!--            </div>-->

<!--            <div class="dws-input">-->
<!--                <input type="password" name="password" placeholder="Введите пароль">-->
<!--            </div>-->

<!--            <div  class="dws-input">-->
<!--                <input type="email" name="email" placeholder="Email">-->
<!--            </div>-->

<!--            <input class="dws-submit" type="submit" name="sumbit" value="Зарегистрироваться">-->
<!--            <br/>-->
<!--            <a href="{% url 'wiki:Login'%}">Назад</a>-->



<!--        </form>-->


<!--{% endblock %}-->